"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch
set hls
" Your search will be case sensitive if it contains an uppercase letter
set ignorecase smartcase

set surround

set relativenumber number

set easymotion
" https://superuser.com/questions/622898/how-to-turn-off-the-bell-sound-in-intellij
set visualbell
set noerrorbells

let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"
set highlightedyank

set exchange

set argtextobj

set ReplaceWithRegister

set vim-paragraph-motion

" set sneak
" If you are using ideavim-sneak please ensure set quickscope is placed after set sneak.
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" access the system clipboard https://stackoverflow.com/questions/27898407/intellij-idea-with-ideavim-cannot-copy-text-from-another-source
set clipboard+=unnamed
" https://youtrack.jetbrains.com/issue/VIM-2273
" set clipboard-=ideaput
" https://youtrack.jetbrains.com/issue/VIM-765#focus=Comments-27-4494203.0-0
set ideavimsupport+=singleline
" Don't use Ex mode, use Q for formatting.
map Q gq

set NERDTree
" j, k          Store relative line number jumps in the jumplist.
" nnoremap <expr> k (v:count > 1 ? "m'" . v:count : '') . 'k'
" nnoremap <expr> j (v:count > 1 ? "m'" . v:count : '') . 'j'
" set matchit
packadd matchit

let mapleader = " "

nmap # #N
nmap * *N
nmap zz zzze
nmap <leader><leader>l :noh<CR>
"https://youtrack.jetbrains.com/issue/VIM-44/Unify-navigation-history-between-ideavim-and-idea
nmap <C-o> <Esc><Action>(Back)
nmap <C-i> <Esc><Action>(Forward)

nmap <leader>r <Action>(Run)
nmap <leader>d <Action>(Debug)
nmap <leader>c <Action>(Resume)
nmap <leader>s <Action>(Stop)
" nmap <leader>b <Action>(ToggleLineBreakpoint) "Alt B
nmap <leader>m <Action>(XDebugger.MuteBreakpoints)
nmap <leader>n :NERDTreeFocus<CR>

map <leader>w [w
map <leader>b [b
map ci<leader>w [bv]ws

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
