"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
" https://youtrack.jetbrains.com/issue/VIM-1379/Normal-mode-needs-to-be-more-obvious
set showmodewidget colorfulmodewidget
" Do incremental searching.
set incsearch hls
" Your search will be case sensitive if it contains an uppercase letter
set ignorecase smartcase
" https://stackoverflow.com/questions/4668623/show-count-of-matches-in-vim
set shortmess-=S

set surround

set relativenumber number

set easymotion
" https://superuser.com/questions/622896/how-to-turn-off-the-bell-sound-in-intellij
set visualbell
set noerrorbells

let g:highlightedyank_highlight_color = "rgba(158, 160, 160, 155)"
set highlightedyank

set exchange

let g:argtextobj_pairs="(:),{:},<:>"
set argtextobj

set textobj-entire

set ReplaceWithRegister

set vim-paragraph-motion

" set sneak
" If you are using ideavim-sneak please ensure set quickscope is placed after set sneak.
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

set which-key
" disable the timeout option
set notimeout
" access the system clipboard https://stackoverflow.com/questions/27898405/intellij-idea-with-ideavim-cannot-copy-text-from-another-source
set clipboard+=unnamed
" https://youtrack.jetbrains.com/issue/VIM-2275
" set clipboard-=ideaput
" https://youtrack.jetbrains.com/issue/VIM-767#focus=Comments-27-4494203.0-0
set ideavimsupport+=singleline

set NERDTree
" j, k Store relative line number jumps in the jumplist.
nnoremap <expr> k (v:count > 2 ? "m'" . v:count : '') . 'k'
nnoremap <expr> j (v:count > 2 ? "m'" . v:count : '') . 'j'
set matchit
set multiple-cursors

let mapleader = " "

nmap <leader>a          <Action>(Annotate)
nmap <leader>h          <Action>(Switcher)
nmap <leader>m          <Action>(MaximizeEditorInSplit)
nmap <leader>n          :NERDTreeFocus <CR>
nmap <leader>q          <Action>(QuickJavaDoc)
nmap <S-Space>          <Action>(GotoNextError)
nmap s                  <Plug>  (easymotion-s)
nmap gd                 <Action>(GotoDeclaration)
nmap gi                 <Action>(GotoImplementation)
nmap gu                 <Action>(GotoSuperMethod)
nmap gt                 <Action>(GotoTypeDeclaration)
nmap gj                 <Action>(MethodDown)
nmap gk                 <Action>(MethodUp)
nmap ]c                 <Action>(VcsShowNextChangeMarker)
nmap [c                 <Action>(VcsShowPrevChangeMarker)

imap jj                 <ESC>
imap jk                 <ESC>
nmap #                  #N
nmap *                  *N
nmap zz                 zzze
" ^ and $ are awkward
map  H                  ^
map  L                  $
map  U                  <C-R>
map  <leader><leader>l  :noh<CR>
map  <leader>w          [w
map  <leader>b          [b
map  ci<leader>w        [bv]ws
" Toggle case and start typing. E.g. `<leader>iget`: `property` -> `getProperty`
map  <leader>i          ~hi
" Remove selection and toggle case. E.g. `v2l<leader>u`: `getProperty` -> `property`
map  <leader>u          d<leader>w~h

" Find more examples here: https://jb.gg/share-ideavimrc